.sub-head {
  color: #010a32;
  text-align: center;
  font-family: Georgia;
  margin: 0px;
  padding: 0 0 0 0;
}
main h2, p {
  font-family: Georgia;
  font-size: 20px;
}
#sub-heading-paragraph {
  background-color: none;
  padding: 20px 10% 20px 10%;
  text-align: center;
  margin: 0px;
}
.container {
  background-color: #bec1ee; 
  width: 100%;
  height: 128px;
  margin: 0px;
}
.bg-image {
  background-image: linear-gradient(rgba(156, 167, 216, 0.60), rgba(156, 167, 216, 0.60)), url("../img/illustrate_datasets-1080.jpg") ; 
  width: 100%;
  height: 200px;
  margin: 0px;
}
.bg-transparent {
  padding: 82px 0 82px 0;
  margin: 0px;
}

main h2 {
  color: #010a32;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;

}
main ul {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

main ul li {
  border-bottom: 1px solid darkblue;
  list-style: none;
  margin: 70px 0px;
  padding-bottom: 50px;
}
main ul p {
  color: #444444;
  line-height: 32px;
  font-size: 20px;
  font-weight: 100;
}

main ul a {
  color: #214E34;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}